{
"swagger": {
    "jsonPath": "{{ getv "/configuration/swagger/jsonPath" "/api-json" }}",
    "uiPath": "{{ getv "/configuration/swagger/uiPath" "/api-docs" }}",
    "portOverride": "{{ getv "/configuration/swagger/port" "80" }}"
  },
  "logger": {
    "level": "{{ getv "/configuration/logger/level" "error" }}"
  },
  "elastic": {
    "node": "{{ getv "/configuration/elastic/node" "http://10.28.11.49:9200/" }}"
  },
  "elasticRequest": {
    "from": "{{ getv "/configuration/elastic/request/from" "0" }}",
    "size": "{{ getv "/configuration/elastic/request/size" "100" }}"
  }
}
