{
"swagger": {
    "jsonPath": "{{ getv "/configuration/swagger/jsonPath" "/api-json" }}",
    "uiPath": "{{ getv "/configuration/swagger/uiPath" "/api-docs" }}",
    "portOverride": "{{ getv "/configuration/swagger/port" "80" }}"
  },
  "logger": {
    "level": "{{ getv "/configuration/logger/level" "error" }}"
  },
  "elastic": {
    "node": "{{ getv "/elastic/node" "http://10.28.11.49:9200/" }}"
  }
}
